/*===========================


  Universal Styling


==============================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1000px;
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 2px;
  padding: 10px 0;
}

h1 {
  text-align: center;
}

h2 {
  display: inline;
}

p {
  line-height: 1.5;
  margin: 20px 0;
}

ul {
  padding: 20px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px auto;
}

td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}

th {
    background: #f2f2f2;
    padding: 10px;
    font-size: 20px;
}

a:hover {
  background: #800080;
  color: white;
  transition: .3s;
}

a {
  text-decoration: none;
  color: #800080;
  transition: .3s;
}

.ears {
  display: inline;
}

.notice {
  background: yellow;
  color: red;
  font-weight: bold;
  display: block;
  float: right;
  max-width: 150px;
  padding: 20px;
  margin: 50px 50px 0 0;
}

.italic {
  font-style: italic;
}

.park {
  font-weight: bold;
}
